/node_modules
/public/hot
/public/storage
/lib/Order.php
/lib/Util.php
/storage/*.key
.env
Handler.php
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mpesaexpress.log
allData.log
mailt_text.html
.gitignore
